.navMenu {
    flex:3;
    position:relative;
    height:100%;
    margin:auto;
    text-align: center;
    color:rgba(255,255,255,0.65)
}

.navMenu a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vh;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.navMenu a:hover{
    color:rgba(255, 255, 255, 0.95);
}

@media (prefers-color-scheme: light) {
    /* 라이트 모드에 적용할 스타일 정의 */
}

@media (prefers-color-scheme: dark) {
    /* 라이트 모드에 적용할 스타일 정의 */
}

@media (max-width: 900px) {
    .navMenu {
        display:none;
    }
}

