.subNavContainer {
    position: fixed;
    background: rgba(0,0,0,0.9);
    height: 40vh;
    width: 100vw;
    overflow: hidden;
    opacity: 1;
    top: 6vh;
    z-index: 998;
    transition: 0.4s ease-out;
}

@media (min-width: 900px) {
    .subNavContainer {
        display:none;
    }
}
