.logoBox {
    position:relative;
    flex: 2;
    transform: translateX(-24px);
}

.image{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    filter: grayscale(50%);
    transition:0.5s
}

.image:hover {
    filter: grayscale(0%);
}

@media (prefers-color-scheme: light) {
    /* 라이트 모드에 적용할 스타일 정의 */
}

@media (prefers-color-scheme: dark) {
    /* 라이트 모드에 적용할 스타일 정의 */
}
